h1, p {
  font-family: Lato;
}
li {
  list-style: none;
}
.mapboxContainer {
  position: absolute;
}
.onTopOfMap {
  position: absolute;
  top: 4%;
  left: 80%;
  z-index: 1000;
  background-color: white;
  border-radius: 9px;
  border: 1px solid #afafaf
}
.onTopOfMap {
  text-align: center;
}
.onTopOfMap h4 {
  background-color: #afafaf;
  border-radius: 9px 9px 0 0;
  margin-top: 0;
}
.mapMarker:hover {
  cursor: pointer;
}
.markerPopup {
  background-color: #585858;
	opacity: 0.7;
	padding: 9px;
	border-radius: 9px;
	position: absolute;
	bottom: 150px;
	left: -75px;
  color: #fff
}
.markerHeader {
  color: white;
	font-weight: bold;
	text-align: center;
	/* padding: 0px 5px 0px 5px; */
	width: 100%;
}
.markerHeader span {
  float: right;
  margin-top: -3px;
}

.mapControls {
  margin: 30px 0px 0px 0px
}
.dataSelectorList {
  margin-top: -10px;
}
.dataSelectorList li {
  float: left;
}
.dataSelectorList input:hover {
  cursor: pointer;
}