h1, p {
  font-family: Lato;
}
li {
  list-style: none;
}
.markerPopup {
  background-color: #585858;
	opacity: 0.7;
	padding: 9px;
	border-radius: 9px;
	position: absolute;
	bottom: 150px;
	left: -75px;
  color: #fff
}
.markerHeader {
  color: white;
	font-weight: bold;
	text-align: center;
	/* padding: 0px 5px 0px 5px; */
	width: 100%;
}
.markerHeader span {
  float: right;
  margin-top: -3px;
}
.mapControls {
  margin: 30px 0px 0px 0px
}