h1, p {
  font-family: Lato;
}
.markerPopup {
  background-color: #585858;
	opacity: 0.7;
	padding: 9px;
	border-radius: 9px;
	position: absolute;
	bottom: -10px;
	right: 5px;
  color: #fff
}
.markerHeader {
  color: white;
	/* font-size: 16px; */
	font-weight: bold;
	text-align: center;
	/* line-height: 65%; */
	/* display: inline-block; */
	padding: 0px 15px 0px 15px;
	width: 100%;
}